<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @book.id %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Auther:</b>
  <%= @book.auther %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
